@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html,
body {
    height: 100%;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
}
a{
    color: inherit;
}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    border-radius: 15px;
    width: 350px;
    background-image: url(img/bg-pattern-card.svg);
    background-repeat: repeat-x;
    background-size: contain;
    background-position-y: -10px;
    background-position-x: px;
}
.profilephoto{
    background-color: white;
    padding: 0!important;
    margin-top: 70px;
    border: 4px solid white;
}

.card-img-top{
    height: 100px;
}
#agetext{
    font-size: 17px;
    display:inline;
    color:hsl(0, 0%, 59%);
    padding-left: 5px;
}
#fromtext{
    color:hsl(0, 0%, 59%);
    padding-top: 5px;
    font-size: 14px;
    
}
.card-title{
    font-weight: 700;
    font-size: 18px;
}

hr{
    margin:0;
    width:100%;
    margin-bottom: 20px;
}

.divclass{
    padding: 0;
    margin:0;
}

.statistics-section{
    align-items: center;
}

.table thead tr th, .table tbody tr td {
    border: none;
    margin: 0;
    padding: 0;
}
.statics-name{
    font-size: 12px;
    color: hsl(0, 0%, 59%);
}
.statics-number{
    font-size: 18px;
}